tjw/tjw-springmvc/src/main/resources/META-INF/jasperbean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://zxy.jasper.com/schema/jasperbean"
        elementFormDefault="qualified">

    <element name="user">
        <complexType>
            <attribute name="id" type="int"/>
            <attribute name="name" type="string" use="required"/>
            <attribute name="birthday" type="date" />
        </complexType>
    </element>

    <element name="animal">
        <complexType id="ID">
            <attribute name="id" type="int"/>
            <attribute name="type" type="string"/>
            <attribute name="name" type="string"/>
        </complexType>
    </element>

</schema>